<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{base :: header}"></head>

<body>

	<div th:insert="~{base :: navbar}"></div>
	
	<div class="container-fluid p-4 body-section">
		<div class="container-fluid d-flex justify-content-center">		
			<form action="#" th:action="@{/posts/new}" th:object="${post}" method="post" enctype="multipart/form-data" class="border p-3 my-2">
				<p class="fs-4">Write a new post</p>
				<input type="hidden" th:field="*{user}" >
				<input type="hidden" th:field="*{createdAt}">
				<div class="row">
					<div class="col-md-8 col-sm-12">
						<input type="text" class="form-control rounded-0 fw-light mb-1" th:field="*{title}" id="title" placeholder="Title of your post." required>
						<textarea class="form-control rounded-0 fw-light mb-1" rows="4" cols="75" th:field="*{shortDesc}" id="body" placeholder="Brief details of your post." required></textarea>
						<textarea class="form-control rounded-0 fw-light mb-1" rows="8" cols="75" th:field="*{body}" id="body" placeholder="Body of your post." required></textarea>
					</div>
					<div class="col-md-4 col-sm-12">
						<img id="displayImg" class="rounded-0 border mb-1" style="width:100%;height:190px" alt="" src="/posts/image/default_post_pic.jpg">
						<select class="form-select rounded-0 fw-light mb-1" name="catg" aria-label="Default select example">
						  <span th:each="cat:${categories}">
						  	<option th:value="${cat.categoryName}" th:text="${cat.categoryName}"></option>
						  </span>
						  	<option value="General">General</option>
						</select>
						<input type="text" class="form-control rounded-0 fw-light mb-1" name="newCatg" id="category" placeholder="Add a new travel destination">
						<input type="file" class="form-control rounded-0 fw-light mb-1" name="image" id="inputImg" required>
						<button type="submit" class="btn btn-info text-light fw-bold rounded-0 py-2" style="width: 100%">Submit Post</button>
					</div>
				</div>		
			</form>	
			<br>
		</div>
	</div>
	<div th:insert="~{base :: js-links}"></div>
	<div th:insert="~{base :: footer}"></div>
</body>
</html>